:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-grey-blue: hsl(220, 15%, 55%);
  --color-grey-blue-dark: hsl(218, 44%, 22%);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  background-color: var(--color-light-gray);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: space-around;
  height: 100vh;
}

.card {
  max-width: 30rem;
  background-color: var(--color-white);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .card__image {
  max-width: 90%;
  margin-top: 1.5rem;
  border-radius: 1rem;
}

.card .card__heading {
  margin-top: 2.4rem;
  text-align: center;
  width: 85%;
}

.card .card__text {
  margin-top: 2rem;
  text-align: center;
  width: 85%;
  margin-bottom: 3rem;
  color: var(--color-grey-blue);
}

/* Footer Copyright and Attribution */

.attribution {
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 2rem;
}
